body {
  width: 100%;
  height: 100%;
  margin: auto;
}

h1{
  text-align: center;
}

img{
  display: block;
  margin: auto;
  width: 50%;
}

nav{
  text-align: center;
}

nav a{
  padding: 0 10px;
  background-color: rgba(128, 128, 128, 0.719);
}

body #featured-property figure figcaption{
  text-align: center;
  font-size: 14px;
}

body #featured-property p{
  width: 800px;
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
}

body #details{
  width: 100%;
  display: flex;
  flex-direction: row;
  float: left;
  justify-content: space-around;
  background-color: rgb(255, 30, 0);
  margin: auto;
}